{%  extends 'main.html' %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-3">
            <h4> Customer</h4>
            <hr>
            <div class="card border-primary mb-7 style="max-width: 18rem;">
                <div class="card-header">Products Table</div>
                <div class="card-body text-dark">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="#" role="button">Create Customer</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}